---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.site-logo img {
  max-height: 4rem;
}

// Show full logo on desktop, square logo on mobile
.site-logo .logo-square {
  display: none;
}

@media (max-width: 768px) {
  .site-logo .logo-full {
    display: none;
  }
  
  .site-logo .logo-square {
    display: block;
    max-height: 2.5rem;
  }
}
