---
// BrandLogo for Mylonics
import { Image } from 'astro:assets';
import logoImg from '@images/mylonics-logo-square.png';
const { class: className, ...rest } = Astro.props;
---
<div class={`flex items-center gap-2 ${className ?? ''}`} {...rest}>
  <Image
    src={logoImg}
    alt="Mylonics"
    class="h-full w-auto dark:brightness-0 dark:invert"
  />
  <span class="font-k2d text-xl font-bold text-[#53595e] dark:text-white">mylonics</span>
</div>
